@import "tailwindcss";
@theme inline{
      --font-enter: 'Enter', sans-serif;
  --font-paci: 'Pacifico', cursive;
}
@layer components{
  .font-Headeing{
    /* font-family: 'Playfair Display', serif; */
    /* font-family: 'Cormorant Garamond', serif; */
    /* font-family: 'Libre Baskerville', serif */
    font-family: 'Lora', serif
    
  }
  .test{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 100%;
    padding: 38px;
  }
}